@model Levelnis.Learning.CallingWebApiFromMvc.Web.Models.ProductViewModel

@{
    ViewBag.Title = "Create Product";
}

<h2>Create Product</h2>

@using (Html.BeginForm("CreateProduct", "Product", FormMethod.Post, new {@class = "form-horizontal"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Please review the issues below.")
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, "Product Name:", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(m => m.Description, "Product Description:", new { @class = "col-sm-3 control-label" })
            <div class="col-sm-3">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <input type="submit" class="btn btn-primary" value="Create"/>
        </div>
    </div>
}